@charset "UTF8";
@font-face{
    font-family:"romantic";
    src: url(fontes/Helios\ Regular.ttf);
}

body{
    background-color:rgba(248, 232, 203, 0.671)
}
h1{ 
    height: 20vh;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 80px;
    text-align: center;
    font-family: "romantic";
    background-image: url(imagem/um\ livro\ no\ estilo\ de\ animação\ com\ fundo\ preto.png);
}
header{
    background-color:black;
    color: wheat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: solid rgba(0, 0, 0, 0.356);
    margin: -10px -8px 0px -8px;
    padding: 10px 10px 10px 10px

}
nav > a{
    text-decoration: none;
    border-radius: solid black 100px;
    color: wheat;
    padding: 05px;
    font-size: 15px;
}

nav >a:hover{
    border-radius: 10px;
    color: brown;
    background-color: lightgray
    
    
}